html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;
}
:root {
	--main__fontSize: 16;
	--main__fontFamily: 'Open Sans', sans-serif;
	--primary-color: #163185;
	--primary__backgroundColor: #001334;
	--button__primary-color: #fddb4c;
	--typography__primary-color: #252e3e;
	--typography__primary-fontSize: 1.8rem;
	/* **** container **** */
	--container__width-lg: 1366px;
	--container__width-md: 1020px;
	--container__width-ms: 940px;
	--container__width-s: 768px;
	--container__width-xs: 335px;
}

/** ! func rem to px
  ** calc(32 / var(--main__fontSize) * 1rem);
**/
html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--main__fontFamily);
}

.container {
	max-width: var(--container__width-lg);
	min-width: var(--container__width-xs);
	margin: 0 auto;
	padding: 0 1em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.section__title {
	text-align: left;
	font-weight: 700;
	font-size: -webkit-calc(30 / var(--main__fontSize) * 1rem);
	font-size: -moz-calc(30 / var(--main__fontSize) * 1rem);
	font-size: calc(30 / var(--main__fontSize) * 1rem);
	line-height: -webkit-calc(45 / var(--main__fontSize) * 1rem);
	line-height: -moz-calc(45 / var(--main__fontSize) * 1rem);
	line-height: calc(45 / var(--main__fontSize) * 1rem);
	color: var(--primary-color);
	margin-bottom: 2em;
}

.header__info {
	background-color: #000c20;
	padding-block: 0.7em;
}

.header__info-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header__icon-location {
	margin-right: 0.8em;
}

.header__address {
	color: #fff;
	font-size: -webkit-calc(13 / var(--main__fontSize) * 1rem);
	font-size: -moz-calc(13 / var(--main__fontSize) * 1rem);
	font-size: calc(13 / var(--main__fontSize) * 1rem);
}

.header__address span {
	margin-right: 0.5em;
}

.nav {
	padding-block: 0.9em;
	display: grid;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	grid-template-columns: 15% 60% 25%;
}

.menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-self: center;
}

.menu__item:not(:last-child) {
	margin-right: 2.5em;
}

.menu__link {
	color: var(--typography__primary-color);
	font-weight: 600;
	/* font-size: calc(16 / var(--main__fontSize) * 1rem); */
}

.nav__tel-items {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: var(--typography__primary-color);
	font-weight: 600;
}

.nav__tel-items svg {
	margin-right: 0.5em;
}

.nav__tel-items:first-child {
	margin-right: 1.25em;
}

.nav__tel-numbers {
	justify-self: flex-end;
}

.menu__icon {
	display: none;
}

.nav__title-icon-s {
	display: none;
}

.nav__title-icon {
	display: inline-block;
}

.hamburger {
	display: none;
	cursor: pointer;
	z-index: 2;
}

/* .line {
  width: 30px;
  height: 3px;
  background: var(--typography__primary-color);
  margin: 5px;
  transition: all 0.5s ease-out;
}

.line.top {
  transform: rotate(45deg) translate(11px, 0px);
}

.line.bot {
  transform: rotate(-45deg) translate(10px, 0px);
}

.line.medium {
  transform: translateX(-80px);
  opacity: 0;
} */

.callMeMaybe {
	position: fixed;
	right: 20px;
	bottom: 20px;
	padding: 19px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	border: 1px solid #134278;
	background-color: #fff;
	z-index: 1;
}

.callMeMaybe svg path {
	fill: #02b6f2;
}
.callMeMaybe svg {
	/* margin: 19px; */
	/* width: 23px; */
}

main {
	overflow: hidden;
}

.hero {
	background-image: url(../assets/images/hero__bgi.jpg);
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	z-index: 1;
}

.hero__wrapper {
	height: 100%;
	padding-block: 9.125em;
	background: rgba(0, 0, 0, 0.6);
}

.hero__title {
	font-size: -webkit-calc(36 / var(--main__fontSize) * 1rem);
	font-size: -moz-calc(36 / var(--main__fontSize) * 1rem);
	font-size: calc(36 / var(--main__fontSize) * 1rem);
	font-weight: 700;
	line-height: -webkit-calc(51 / var(--main__fontSize) * 1rem);
	line-height: -moz-calc(51 / var(--main__fontSize) * 1rem);
	line-height: calc(51 / var(--main__fontSize) * 1rem);
	margin-bottom: 0.7em;
	max-width: 600px;
}

.hero__desc {
	line-height: 24px;
	margin-bottom: 2em;
	max-width: 480px;
}

.hero__link {
	display: inline-block;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	padding: 0.75em 2em;
	color: var(--typography__primary-color);
	background-color: var(--button__primary-color);
}

.advantages {
	background-color: var(--primary__backgroundColor);
	padding-block: 1.5em;
}

.advantages__wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	row-gap: 1em;
	/* grid-template-columns: repeat(auto-fit, minmax(161px, 220px) ); */
	/* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
}

.advantages__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.advantages__item:not(:last-child) {
	margin-right: 110px;
}

.advantages__icon {
	margin-right: 1em;
}

.advantages__text {
	max-width: 170px;
	font-size: 15px;
	line-height: 22px;
	color: #fff;
}

.aboutUs {
	position: relative;
}

.aboutUs__wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	/* flex-wrap: wrap; */
	color: var(--typography__primary-color);
}

.section__title--aboutUs {
	margin-top: 5em;
}

.aboutUs__explanation {
	max-width: 558px;
}

.aboutUs__explanation--text {
	position: relative;
	margin-bottom: 3.75em;
	font-size: 15px;
	line-height: 22px;
}

.aboutUs__explanation--text::after {
	content: '';
	position: absolute;
	width: 102px;
	height: 2px;
	background-color: var(--primary-color);
	bottom: -28px;
	left: 0;
}

.aboutUs__explanation--text span,
.aboutUs__description--text span {
	font-weight: 700;
}

.aboutUs__explanation--img {
	position: absolute;
	left: 0;
}

.aboutUs__description {
	max-width: 643px;
}

.aboutUs__description--text {
	font-size: 15px;
	line-height: 22px;
	color: var(--typography__primary-color);
}

.aboutUs__description--text:not(:last-child) {
	margin-bottom: 2.5em;
}

.directions {
	margin-top: 9em;
	margin-bottom: 7.5em;
}

.directions__wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.directions__list {
	margin-left: 2em;
}

.directions__list--item {
	max-width: 470px;
	position: relative;
	font-weight: 700;
	font-size: -webkit-calc(18 / var(--main__fontSize) * 1rem);
	font-size: -moz-calc(18 / var(--main__fontSize) * 1rem);
	font-size: calc(18 / var(--main__fontSize) * 1rem);
	line-height: -webkit-calc(27 / var(--main__fontSize) * 1rem);
	line-height: -moz-calc(27 / var(--main__fontSize) * 1rem);
	line-height: calc(27 / var(--main__fontSize) * 1rem);
	color: var(--typography__primary-color);
}

.directions__list--item::after {
	content: '';
	position: absolute;
	top: -webkit-calc((100% - 12px) / 2);
	top: -moz-calc((100% - 12px) / 2);
	top: calc((100% - 12px) / 2);
	left: -24px;
	width: 12px;
	height: 12px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background-color: var(--primary-color);
}

.directions__list--item:not(:last-child) {
	margin-bottom: 1.25em;
}

.works {
	background-image: url(../assets/images/works__bgi.jpg);
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-block: 5.625em;
}

.section__title--works {
	color: #fff;
}

.works__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(246px, 320px));
	gap: 12px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.works__list--item {
	position: relative;
	padding: 2.5em 1.875em;
	text-align: center;
	background-color: #fff;
}

.works__list--item::after {
	content: '';
	position: absolute;
	top: 160px;
	right: 0;
	width: 102px;
	height: 2px;
	background-color: #1632851e;
}

.works__list--img {
	margin-bottom: 1em;
}

.works__list--title {
	margin-bottom: 2.125em;
	font-weight: 700;
	font-size: -webkit-calc(18 / var(--main__fontSize) * 1rem);
	font-size: -moz-calc(18 / var(--main__fontSize) * 1rem);
	font-size: calc(18 / var(--main__fontSize) * 1rem);
	line-height: -webkit-calc(22 / var(--main__fontSize) * 1rem);
	line-height: -moz-calc(22 / var(--main__fontSize) * 1rem);
	line-height: calc(22 / var(--main__fontSize) * 1rem);
	color: var(--primary-color);
}

.works__list--text {
	/* max-width: 220px; */
	margin: 0 auto;
	font-size: 15px;
	line-height: 22px;
	color: var(--typography__primary-color);
}

.works__list--text span {
	color: #02b6f2;
	font-weight: 600;
}

.equipment {
	padding-top: 7.5em;
	padding-bottom: 9.75em;
}

.equipment__tabs {
	display: grid;
	grid-template-columns: 32% 3% 65%;
	/* justify-content: space-between; */
}

.equipment__list-tab {
	max-width: 350px;
}

.equipment__list-tab--item {
	cursor: pointer;
	margin-bottom: 1.125em;
	font-weight: 600;
	font-size: -webkit-calc(16 / var(--main__fontSize) * 1rem);
	font-size: -moz-calc(16 / var(--main__fontSize) * 1rem);
	font-size: calc(16 / var(--main__fontSize) * 1rem);
	line-height: -webkit-calc(25 / var(--main__fontSize) * 1rem);
	line-height: -moz-calc(25 / var(--main__fontSize) * 1rem);
	line-height: calc(25 / var(--main__fontSize) * 1rem);
	color: #959595;
}

.equipment__list-tab--item-text {
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.equipment__list-tab--item-text.active {
	font-weight: 700;
	color: var(--typography__primary-color);
}

.equipment__list-tab--arrow {
	display: none;
}

.equipment__list-tab--arrow.active {
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.equipment__steps {
	position: relative;
	width: 4px;
	background-color: #e8eaf3;
	/* display: flex;
  justify-content: center; */
}

.equipment__steps--line {
	position: absolute;
	top: 0;
	left: -webkit-calc((100% - 4px) / 2);
	left: -moz-calc((100% - 4px) / 2);
	left: calc((100% - 4px) / 2);
	width: 4px;
	height: 56px;
	background-color: var(--primary-color);
	-webkit-transition: top 0.3s linear;
	-o-transition: top 0.3s linear;
	-moz-transition: top 0.3s linear;
	transition: top 0.3s linear;
}

.equipment__tabs-content {
	overflow: hidden;
}

.equipment__list-tab--item-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.equipment__tabs-content {
	-webkit-flex-basis: 55%;
	    -ms-flex-preferred-size: 55%;
	        flex-basis: 55%;
}

.tabs__content {
	max-width: 840px;
	display: none;
	height: 100%;
}

.tabs__content.active {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.tabs__content--img {
	text-align: center;
	min-width: 300px;
}

.tabs__content--article {
	max-width: 560px;
	margin-left: 1.5em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

.tabs__content--article-last {
	display: block;
}

.tabs__content--title {
	font-weight: 700;
	font-size: -webkit-calc(18 / var(--main__fontSize) * 1rem);
	font-size: -moz-calc(18 / var(--main__fontSize) * 1rem);
	font-size: calc(18 / var(--main__fontSize) * 1rem);
	line-height: -webkit-calc(22 / var(--main__fontSize) * 1rem);
	line-height: -moz-calc(22 / var(--main__fontSize) * 1rem);
	line-height: calc(22 / var(--main__fontSize) * 1rem);
	color: var(--typography__primary-color);
}

.tabs__content--title-last {
	margin-bottom: 1em;
}

.tabs__content--list-item,
.tabs__content--text {
	position: relative;
	font-size: 15px;
	line-height: 22px;
}

.tabs__content--list-item::after {
	--size: 3px;
	content: '';
	position: absolute;
	top: 10px;
	left: -7px;
	width: var(--size);
	height: var(--size);
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background-color: #02b6f2;
}

.collaboration {
	overflow: hidden;
}

.collaboration__wrapper {
	position: relative;
	padding-bottom: 5.3em;
}

.collaboration__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(278px, 420px));
	-webkit-column-gap: 11em;
	   -moz-column-gap: 11em;
	        column-gap: 11em;
	row-gap: 2.5em;
}

.collaboration__item {
	color: var(--typography__primary-color);
}

.collaboration__item--title {
	/* display: flex;
  align-items: center; */
	position: relative;
	margin-bottom: 0.9em;
	font-weight: 700;
	font-size: -webkit-calc(18 / var(--main__fontSize) * 1rem);
	font-size: -moz-calc(18 / var(--main__fontSize) * 1rem);
	font-size: calc(18 / var(--main__fontSize) * 1rem);
	line-height: -webkit-calc(27 / var(--main__fontSize) * 1rem);
	line-height: -moz-calc(27 / var(--main__fontSize) * 1rem);
	line-height: calc(27 / var(--main__fontSize) * 1rem);
}

/* .collaboration__item--title img {
	margin-right: 1.25em;
} */

.collaboration__item--title::after {
	content: url(../assets/images/svg/check.svg);
	position: absolute;
	top: -webkit-calc((100% - 27px) / 2);
	top: -moz-calc((100% - 27px) / 2);
	top: calc((100% - 27px) / 2);
	left: -3em;
}

.collaboration__item--text {
	font-size: 16px;
	line-height: 24px;
}

.collaboration__img {
	position: absolute;
	top: -10%;
	right: -16%;
	z-index: -1;
}

.services {
	background-color: #f8fafb;
	padding-top: 7.5em;
	padding-bottom: 5em;
}

.services__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(255px, 350px));
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
}

.services__list::after,
.services__list::before {
	content: '';
	top: 0;
	position: absolute;
	width: 2px;
	height: 247px;
	background-color: #163185;
	opacity: 0.1;
}

.services__list::after {
	right: 36%;
}

.services__list::before {
	left: 28%;
}

.services__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 2.8em;
}

.services__item--title {
	margin-left: 1.25em;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: var(--typography__primary-color);
	max-width: 210px;
}

.services__form {
	margin-top: 8.125em;
	padding: 3.75em 7.125em;
	text-align: center;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 15px rgba(37, 46, 62, 0.12);
	   -moz-box-shadow: 0px 0px 15px rgba(37, 46, 62, 0.12);
	        box-shadow: 0px 0px 15px rgba(37, 46, 62, 0.12);
}

.services__form--wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.services__form--title {
	margin-bottom: 1.5em;
	font-weight: 700;
	font-size: -webkit-calc(28 / var(--main__fontSize) * 1rem);
	font-size: -moz-calc(28 / var(--main__fontSize) * 1rem);
	font-size: calc(28 / var(--main__fontSize) * 1rem);
	line-height: -webkit-calc(24 / var(--main__fontSize) * 1rem);
	line-height: -moz-calc(24 / var(--main__fontSize) * 1rem);
	line-height: calc(24 / var(--main__fontSize) * 1rem);
	color: var(--primary-color);
}

.services__form--subtitle {
	margin-bottom: 1.875em;
	font-weight: 700;
	font-size: -webkit-calc(18 / var(--main__fontSize) * 1rem);
	font-size: -moz-calc(18 / var(--main__fontSize) * 1rem);
	font-size: calc(18 / var(--main__fontSize) * 1rem);
	line-height: -webkit-calc(22 / var(--main__fontSize) * 1rem);
	line-height: -moz-calc(22 / var(--main__fontSize) * 1rem);
	line-height: calc(22 / var(--main__fontSize) * 1rem);
	color: var(--typography__primary-color);
}

/* .services__form--label {
	max-width: 330px;
} */

/* .services__form--label:not(:last-child) {
	margin-right: 4.375em;
} */

.services__form--field {
	padding-bottom: 3px;
	width: 100%;
	min-width: 300px;
	outline: none;
	border: none;
	font-size: 15px;
	border-bottom: 1px solid #252e3e61;
	color: var(--typography__primary-color);
}

.services__form--field::-webkit-input-placeholder {
	font-size: -webkit-calc(15 / var(--main__fontSize) * 1rem);
	font-size: calc(15 / var(--main__fontSize) * 1rem);
	color: #5e5e5f;
}

.services__form--field:-moz-placeholder {
	font-size: -moz-calc(15 / var(--main__fontSize) * 1rem);
	font-size: calc(15 / var(--main__fontSize) * 1rem);
	color: #5e5e5f;
}

.services__form--field::-moz-placeholder {
	font-size: -moz-calc(15 / var(--main__fontSize) * 1rem);
	font-size: calc(15 / var(--main__fontSize) * 1rem);
	color: #5e5e5f;
}

.services__form--field:-ms-input-placeholder {
	font-size: calc(15 / var(--main__fontSize) * 1rem);
	color: #5e5e5f;
}

.services__form--field::-ms-input-placeholder {
	font-size: calc(15 / var(--main__fontSize) * 1rem);
	color: #5e5e5f;
}

.services__form--field::placeholder {
	font-size: -webkit-calc(15 / var(--main__fontSize) * 1rem);
	font-size: -moz-calc(15 / var(--main__fontSize) * 1rem);
	font-size: calc(15 / var(--main__fontSize) * 1rem);
	color: #5e5e5f;
}

.services__form--submit {
	outline: none;
	border: none;
	cursor: pointer;

	margin-top: 2em;
	padding: 0.75em 7.375em;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	color: var(--typography__primary-color);
	background-color: var(--button__primary-color);
}

.services__form--submit-hidden {
	display: none;
}

.footer {
	padding-block: 3.75em;
	background-color: var(--primary__backgroundColor);
	color: #fff;
}

.section__title--footer {
	margin-bottom: 1em;
	color: #fff;
}

.footer__lists {
	display: grid;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	grid-template-columns: repeat(auto-fit, minmax(246px, 292px));
}

.footer__lists--title {
	margin-bottom: 1em;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	color: #ffffff;
}

.footer__lists--wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.footer__lists--wrapper svg {
	margin-top: 5px;
}

.footer__lists--info-text:not(:first-child) {
	margin-left: 0.625em;
}

.footer__lists--info-text {
	margin-bottom: 0.5em;
	font-weight: 700;
	font-size: 15px;
	line-height: 22px;
	color: #d1d1d1;
}

.footer__lists--info-link {
	font-weight: 600;
	font-size: 15px;
	-webkit-text-decoration-line: underline;
	   -moz-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #02b6f2;
}

.footer__lists--link {
	display: block;
	margin-bottom: 1em;
	color: #fff;
}

.footer__lists--link svg {
	margin-right: 0.5em;
}

.footer__lists--link svg path {
	fill: #fff;
}

.footer__lists--info svg:first-child {
	margin-right: 1em;
}

.footer__copyright {
	text-align: center;
	padding-block: 0.925em;
	font-size: 13px;
	color: #fff;
	background-color: #000c20;
}

@media (max-width: 1785px) {
	.aboutUs__explanation--img {
		left: -70px;
	}
}
@media (max-width: 1680px) {
	.aboutUs__explanation--img {
		left: -130px;
	}
}

@media (max-width: 1600px) {
	:root {
		--main__fontSize: 18;
	}

	/* .container {
    max-width: var(--container__width-md);
  } */
	/* .aboutUs__explanation {
    max-width: 418px;
  } */
	/* .aboutUs__description {
    max-width: 504px;
  } */
	/* .tabs__content {
    max-width: 540px;
  } */
	.collaboration__list {
		-webkit-column-gap: 7em;
		   -moz-column-gap: 7em;
		        column-gap: 7em;
	}

	/* .collaboration__img {
    right: -40%;
  } */
	.services__form--field {
		margin-bottom: 1.5em;
	}

	.nav__tel-numbers {
		text-align: right;
	}

	.nav__tel-items:first-child {
		margin-right: 0;
	}
}

@media (max-width: 1400px) {
	.aboutUs__explanation--img {
		left: -100px;
	}
}

@media (max-width: 1366px) {
	/* .container {
    max-width: var(--container__width-ms);
  } */
}

@media (max-width: 1200px) {
	.aboutUs__explanation--img {
		left: -190px;
	}
}

@media (max-width: 1100px) {
	:root {
		--main__fontSize: 19;
	}

	.container {
		max-width: var(--container__width-ms);
	}

	.aboutUs__explanation {
		max-width: 318px;
	}

	.aboutUs__description {
		max-width: 404px;
	}

	.aboutUs__explanation--img {
		left: -270px;
	}

	.services__list::after,
	.services__list::before {
		display: none;
	}

	/* .tabs__content {
    max-width: 400px;
  } */
	.collaboration__list {
		margin-left: 3em;
	}

	.collaboration__img {
		right: -11%;
	}
}

@media (max-width: 950px) {
	.collaboration__img {
		right: 0;
	}

	.services__form--wrapper {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		   -moz-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

@media (max-width: 900px) {
	.nav {
		grid-template-columns: 1fr 1fr;
		row-gap: 1em;
	}

	.menu {
		grid-row: 2;
		grid-column: 1/-1;
	}

	.aboutUs__explanation--img {
		left: -330px;
	}

	.directions__wrapper {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		   -moz-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}

	.directions__list {
		margin-left: 1em;
		margin-bottom: 4em;
	}

	.collaboration__wrapper {
		padding-bottom: 25.3em;
	}

	.collaboration__img {
		left: 0;
		bottom: 0;
		top: inherit;
	}

	.header__info {
		display: none;
	}

	.equipment__tabs {
		grid-template-columns: 1fr;
	}

	.equipment__steps {
		display: none;
	}

	.equipment__list-tab {
		max-width: 520px;
	}

	.equipment__list-tab--item {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		   -moz-box-orient: vertical;
		   -moz-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 1em;
		border: 1px solid #dadada;
		font-size: 15px;
		line-height: 22px;
	}

	.equipment__list-tab--item-text {
		-webkit-flex-basis: 90%;
		    -ms-flex-preferred-size: 90%;
		        flex-basis: 90%;
	}

	.equipment__tabs-content {
		display: none;
	}

	.equipment__list-tab--arrow {
		display: inline-block;
	}

	.equipment__list-tab--item-text {
		color: var(--typography__primary-color);
	}

	.equipment__list-tab--item-text.active {
		font-weight: 600;
	}
	.tabs__content--title {
		display: none;
	}

	.tabs__content--article {
		color: var(--typography__primary-color);
	}
}

@media (max-width: 800px) {
	.aboutUs__wrapper {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
}

@media (max-width: 756px) {
	:root {
		--main__fontSize: 20;
	}

	.aboutUs__explanation {
		margin-bottom: 0;
	}

	.services__form--submit-show {
		display: none;
	}

	.services__form--title {
		line-height: 42px;
	}

	.services__form--submit-hidden {
		display: inline-block;
		padding: 0.75em 3.375em;
		min-width: 300px;
	}

	.aboutUs__explanation--img {
		left: -170px;
		bottom: -260px;
	}

	.tabs__content {
		margin-top: 2em;
	}

	.tabs__content--article {
		row-gap: 1.5em;
		margin-left: 0;
	}

	.tabs__content.active {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		   -moz-box-orient: vertical;
		   -moz-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.tabs__content--img {
		text-align: center;
	}

	.tabs__content--img img {
		width: inherit;
	}

	.advantages__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 1em;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		   -moz-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		   -moz-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.advantages__item:last-child {
		display: none;
	}

	.directions__list--item {
		font-size: 15px;
		line-height: 22px;
	}

	.directions {
		margin-top: 350px;
	}
}

@media (max-width: 530px) {
	.menu {
		/* display: none; */
		padding: 20px;
		position: absolute;
		bottom: -229px;
		right: -1em;
		/* left: 29em; */
		left: -1em;
		opacity: 0;
		background: #fff;
		border-top: 1px solid #dadada;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		   -moz-box-orient: vertical;
		   -moz-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-transition: opacity 0.3s ease-in-out;
		-o-transition: opacity 0.3s ease-in-out;
		-moz-transition: opacity 0.3s ease-in-out;
		transition: opacity 0.3s ease-in-out;
	}

	.menu__icon {
		display: block;
		text-align: left;
	}

	.menu__item:not(:last-child) {
		margin-bottom: 1.7em;
	}

	.advantages__item:not(:last-child) {
		margin-right: 0;
	}
	.menu.active {
		opacity: 1;
		/* left: -1em; */
	}

	.nav {
		row-gap: 0;
		position: relative;
	}

	.nav__tel-numbers {
		-webkit-transition: opacity 0.3s ease-in-out;
		-o-transition: opacity 0.3s ease-in-out;
		-moz-transition: opacity 0.3s ease-in-out;
		transition: opacity 0.3s ease-in-out;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		   -moz-box-orient: vertical;
		   -moz-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		position: absolute;
		bottom: -395px;
		right: 0;
		left: 0;
		opacity: 0;
		/* left: 29em; */
		background: #fff;
		border-top: 1px solid #dadada;
		padding: 2em;
	}

	.nav__tel-numbers.active {
		opacity: 1;
		/* left: -1em; */
	}

	.nav__tel-items:first-child {
		margin-bottom: 11px;
	}

	.nav__tel-items-icon {
		margin-top: 30px;
	}

	.nav__tel-items-icon:first-child {
		margin-right: 1em;
	}

	.hamburger {
		display: block;
		justify-self: flex-end;
	}

	.nav__title-icon-s {
		display: inline-block;
	}

	.nav__title-icon {
		display: none;
	}

	.services__form {
		padding: 3.75em 2em;
		margin-top: 100px;
	}

	.equipment {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.section__title--aboutUs {
		margin-top: 100px;
	}

	.footer__lists {
		row-gap: 2em;
	}

	/* .collaboration__img {
    width: 100%;
  }
  .collaboration__wrapper {
    padding-bottom: 16.3em;
  }

  .directions__picture {
    width: 100%;
  } */
}

@media (max-width: 420px) {
	:root {
		--main__fontSize: 21;
	}

	.collaboration__img {
		width: 100%;
	}

	.collaboration__wrapper {
		padding-bottom: 21.3em;
	}

	.directions__picture {
		width: 100%;
	}
}
